body {
    background:#6495ED;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#F0F8FF;
}

.assignment img {
    width:150px;
    padding:10px;
    

h1 {
    color:#006400;
    text-align:center;
}
h1:hover {
    color:#00008B;
    text-align:center;
}
a {
    text-decoration:none;
    color:#696969;
}
a:hover {
    text-decoration:none;
    color:#00008B;
}
