body {
    background:#6495ED;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#F0F8FF;
    border-radius:5px;
}

.assignment img {
    width:150px;
    padding:10px;
    border:2px solid #696969;
 }   

.assignment img:hover {
    width:150px;
    padding:10px;
    border:2px solid #00008B;
 }   

h1 {
    color:#00008B;
    text-align:center;
    text-decoration:none;
}
h1:hover {
    color:#006400;
    text-align:center;
    text-decoration:none;
}
a {
    text-decoration:none;
    color:#696969;
}
a:hover {
    text-decoration:none;
    color:#00008B;
}
